
@{
    ViewBag.Title = "CreateProfile";
}

<div ng-controller="ProfileCtrl">
    <!-- body-content -->
    <div class="body-content clearfix">
        <div class="bg-color2 block-section line-bottom">
            <div class="container">
                <h1 class="text-center no-margin">Create Your Profile</h1>
            </div>
        </div>
        <div class="bg-color1 block-section line-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <!-- form create your profile -->
                        <form>
                            <div class="form-group">
                                <label>Full Name</label>
                                <div class="row clearfix">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control " placeholder="First name">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control " placeholder="First name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row clearfix">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control " placeholder="Age">
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control " placeholder="Years of experience">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control " placeholder="Nationality">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Occupation</label>
                                <div class="row clearfix">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control " placeholder="Programmer, data analyst ...">
                                    </div>
                                    <div class="col-xs-6">
                                        <select class="form-control">
                                            <option>Degree</option>
                                            <option>Bachelor</option>
                                            <option>Master</option>
                                            <option>Phd</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>Contact</label>
                                <div class="row clearfix">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control " placeholder="Phone">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control " placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <div class="row clearfix">
                                    <input type="text" class="form-control " placeholder="Enter you address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Website</label>
                                <div class="row clearfix">
                                    <input type="text" class="form-control " placeholder="website">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>About Me</label>
                                <div class="color-white-mute"><small>Describe yourself about work experience, skills, or education...</small></div>
                                <textarea class="form-control" rows="6" placeholder="Enter your introduction"></textarea>
                                <small class="color-white-mute">Formatting Options:    ##heading      *bold*          _italic_          * bulleted list</small>
                            </div>

                            <div class="form-group ">
                                <button class="btn btn-t-primary btn-theme" ng-click="SubmitResume()">Submit</button>
                                <button class="btn btn-t-primary btn-theme" ng-click="GotoWorkExp()">Go to Work Experience</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end body-content -->
</div>
