
@{
    ViewBag.Title = "CreateProfile";
}

<div ng-controller="ProfileCtrl" ng-init="InitCreateProfile()">
    <!-- body-content -->
    <div class="body-content clearfix">
        <div class="bg-color2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">

                        <!-- box item details -->
                        <div class="block-section box-item-details">
                            <section ng-show="step=='personalInformation'" ng-include="'/app/views/personalInformation.html'"></section>

                            <section ng-show="step=='education'" ng-include="'/app/views/education.html'"></section>
                            <section ng-show="step=='workExperience'" ng-include="'/app/views/workExperience.html'"></section>
                            <section ng-show="step=='skill'" ng-include="'/app/views/skill.html'"></section>
                            <section ng-show="step=='reference'" ng-include="'/app/views/reference.html'"></section>

                            <nav>
                                <ul class="pager">
                                    <li class="previous" ng-hide="step=='personalInformation'"><a ng-click="PreviousStep()" class="btn-theme"><span>←</span> Back</a></li>
                                    <li class="next" ng-hide="step=='reference'"><a ng-click="NextStep()" class="btn-theme">Next <span>→</span></a></li>
                                </ul>
                            </nav>
                            @*<button type="button" class="btn btn-theme btn-default" ng-click="NextStep()">Next →</button>*@                           
                        </div><!-- end box item details -->


                    </div>
                    <div class="col-md-3">

                        <!-- box affix right -->
                        <div class="block-section " id="affix-box">
                            <div class="text-right">
                                <p><a ng-click="SubmitProfile()" class="btn btn-theme btn-danger btn-block-xs">Save Resume</a></p>
                                @*<p>Updated: February 16, 2015</p>*@
                                <p><a href="#" class="btn btn-theme btn-t-primary btn-block-xs">Personal Information</a></p>
                                <p><a href="#" class="btn btn-theme btn-line btn-block-xs">Education</a></p>
                                <p><a href="#" class="btn btn-theme btn-line btn-block-xs">Work Experience</a></p>
                                <p><a href="#" class="btn btn-theme btn-line btn-block-xs">Skill</a></p>
                                <p><a href="#" class="btn btn-theme btn-line btn-block-xs">Reference</a></p>

                                @*<p>Share This Resume <span class="space-inline-10"></span> :</p>
                                <p class="share-btns">
                                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="btn btn-warning"><i class="fa fa-pinterest"></i></a>
                                </p>*@
                            </div>
                        </div><!-- box affix right -->

                    </div>
                </div>
            </div>
        </div>
    </div><!--end body-content -->
</div>