
@{
    ViewBag.Title = "ViewProfile";
}

<div ng-controller="ResumeCtrl" ng-init="InitViewProfile()">
    <div ng-repeat="temp in Templates" class="block-section line-bottom" ng-class="{'bg-color2': $odd,'bg-color1': $even}">
        <div class="container">
            <div class="row">
                <div ng-if="$even" class="col-md-6 text-center hidden-sm hidden-xs">
                    <img ng-src="{{temp.Thumbnail}}" alt="{{temp.Name}}">
                </div>

                <div class="col-md-6 text-center-sm">
                    <h2>{{temp.Name}}</h2>
                    <p>{{temp.Description}}</p>
                    <p><a  target="_blank" href="/MyCV/{{temp.Name}}/@ViewBag.ProfileGuidId" class="btn btn-theme btn-t-primary">Export</a></p>
                    @*<p><a href="#">Learn more about posting your jobs on JobPlanet</a></p>*@
                </div>

                <div ng-if="$odd" class="col-md-6 text-center hidden-sm hidden-xs">
                    <img  ng-src="{{temp.Thumbnail}}" alt="{{temp.Name}}">                 
                </div>
            </div>
        </div>
    </div>
</div>
