<div>
    <div class="form-group">
        <label ng-show="References.length > 0">References</label>
        <div class="alert alert-info alert-dismissible fade in" role="alert" ng-repeat="ref in References">
            <button type="button" class="close" ng-click="RemoveRef($index)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="form-group">
                <label>Ref</label>
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-xs-2">
                            <input type="text" class="form-control" placeholder="Mr/Mrs.." ng-model="ref.Initial">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="First Name" ng-model="ref.FirstName">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="Last Name" ng-model="ref.LastName">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" placeholder="Relationship" ng-model="ref.Relationship">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row clearfix">
                        <div class="col-xs-5">
                            <input type="text" class="form-control" placeholder="Phone" ng-model="ref.Phone">
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" placeholder="Email" ng-model="ref.Email">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-t-primary btn-theme" ng-click="AddRef()">Add New Reference</button>
    </div>
</div>