<div>
    <div class="form-group">      
        <label ng-show="Skills.length > 0">Personal Skills</label>
        <div class="alert alert-info alert-dismissible fade in" role="alert" ng-repeat="skill in Skills">
            <button type="button" class="close" ng-click="RemoveSkill($index)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="form-group">
                <label>Skill</label>
                <div class="row clearfix">
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="programming, oop,..." ng-model="skill.Name">
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control" ng-model="skill.Score" required ng-options="o for o in [1,2,3,4,5]"></select>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-t-primary btn-theme" ng-click="AddSkill()">Add New Skill</button>
    </div>
</div>