<div>
    <div class="form-group">
        <label ng-show="WorkExps.length > 0">Education</label>
        <div class="alert alert-info alert-dismissible fade in" role="alert" ng-repeat="workExp in WorkExps">
            <button type="button" class="close" ng-click="RemoveWorkExp($index)" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>

            <div class="form-group">
                <label>Company</label>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <input type="text" class="form-control " placeholder="Company" ng-model="workExp.Company">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="row clearfix">                   
                    <div class="col-xs-3">
                        <input type="text" class="form-control " placeholder="From Month" ng-model="workExp.FromMonth" valid-number>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control " placeholder="From Year" ng-model="workExp.FromYear" valid-number>
                    </div>

                    <div class="col-xs-3">
                        <input type="text" class="form-control " placeholder="To Month" ng-model="workExp.ToMonth" valid-number>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control " placeholder="To Year" ng-model="workExp.ToYear" valid-number>
                    </div>
                </div>
            </div>
         

            <div class="form-group">
                <label>Position</label>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <input type="text" class="form-control " placeholder="Position" ng-model="workExp.Position">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label>Description</label>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <textarea type="text" class="form-control " placeholder="Description" ng-model="workExp.Description"/>
                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-t-primary btn-theme" ng-click="AddWorkExp()">Add Work Experience</button>
    </div>
</div>