@{
    ViewBag.Title = "Confirm Email";
}

<div class="body-content clearfix">
    <div class="bg-color2">
        <div class="container" style="min-height:900px">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <h1> Thanks so much for creating an account with CVGenerator!</h1>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
