<div ng-controller="CommonCtrl" ng-init="ClearClientData()">
    <div class="body-content clearfix">
        <div class="bg-color2">
            <div class="container" style="min-height:900px">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <h1>You will be redirected to Home Page in a 3 seconds or you may <a href="@Url.Content("~/")">click here</a>. </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>