@model CVGenerator.Models.Login
@{
    ViewBag.Title = "Login";
}

<div class="body-content clearfix">
    <div class="block-section bg-color4">
        <div class="container">
            <div class="panel panel-md">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            @*<p><a href="#" class="btn btn-primary btn-theme btn-block"><i class="fa fa-facebook pull-left bordered-right"></i> Login with Facebook</a></p>
                                <p><a href="#" class="btn btn-danger btn-theme btn-block"><i class="fa fa-google-plus pull-left bordered-right"></i> Login with Google</a></p>

                                <div class="white-space-10"></div>
                                <p class="text-center"><span class="span-line">OR</span></p>*@

                            <div>
                                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Your Email", @class = "form-control" })
                                        @*<input class="" name="Email"
                                               placeholder="Your Email">*@
                                        <div class="text-danger">@Html.ValidationMessageFor(m => m.Email)</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="Password"
                                               placeholder="Your Password">
                                        <div class="text-danger">@Html.ValidationMessageFor(m => m.Password)</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox flat-checkbox">
                                                    <label>
                                                        <input type="checkbox" id="RememberMe" name="RememberMe">
                                                        <span class="fa fa-check"></span>
                                                        Remember me?
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <p class="help-block"><a href="#myModal" data-toggle="modal">Forgot password?</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group no-margin">
                                        <button class="btn btn-theme btn-lg btn-t-primary btn-block">Log In</button>
                                    </div>
                                }
                            </div><!-- form login -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="white-space-20"></div>
            <div class="text-center color-white">Not a member? &nbsp; <a href="#" class="link-white"><strong>Create an account free</strong></a></div>
        </div>
    </div>
</div>