@*@{
        using System.Web.Security;
        using FormsAuthenticationExtensions;
    }*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jobplanet - Responsive Job Board HTML Template </title>

    <!--favicon-->
    <link rel="apple-touch-icon" href="~/Content/Main/images/apple-touch-icon.png">
    @*<link rel="shortcut icon" href="~/Content/Main/images/favicon.png" type="image/x-icon">*@

    <link href="~/dist/css.style.min.css" rel="stylesheet">
    <link href="~/Content/Main/css/theme.css" rel="stylesheet">
    <link href="~/Content/Main/css/theme-custom.css" rel="stylesheet">

    <script type="text/javascript">
        var userToken = '@AccountHelper.Token';
    </script>
    <script src="~/dist/jquery.bundle.min.js"></script>
</head>
<body data-ng-app="cvGeneratorApp">
    <div class="wrapper">
        @Html.Partial("_Header")

        @RenderBody()

        <section ng-include="'/app/views/footer.html'"></section>
    </div>
    
    <script src="~/dist/app-build.js"></script>
    <script src="~/Content/Main/js/theme.js"></script>
</body>
</html>