<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jobplanet - Responsive Job Board HTML Template </title>

    
    <script src="~/dist/scripts/jquery.bundle.min.js"></script>
    <script src="~/dist/app-build.js"></script>
</head>
<body data-ng-app="cvGeneratorApp">
    <!-- wrapper page -->

    @RenderBody()



</body>
</html>