<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{Title}}</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" ng-href="{{TemplateSrc}}css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" ng-href="{{TemplateSrc}}css/style-print.css" media="print" />
    <link rel="stylesheet" type="text/css" ng-href="{{TemplateSrc}}fonts/fonts.css" />
    <!--<script type="text/javascript" src="/CvTemplates/DarkBlue/js/jquery-1.4.2.min.js"></script>-->
    <script type="text/javascript" ng-src="{{TemplateSrc + 'js/cufon/cufon-yui.js'}}"></script>
    <script type="text/javascript" ng-src="{{TemplateSrc + 'js/cufon/hattori_hanzo.font.js'}}"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="http://bitpublimedia.ro/themeforest/cv-portfolio/_layout/js/tipsy/css.tipsy.css" />
    <script type="text/javascript" src="http://bitpublimedia.ro/themeforest/cv-portfolio/_layout/js/tipsy/jquery.tipsy.js"></script>
    <link rel="stylesheet" type="text/css" href="http://bitpublimedia.ro/themeforest/cv-portfolio/_layout/js/prettyphoto/css.prettyPhoto.css" />
    <script type="text/javascript" src="http://bitpublimedia.ro/themeforest/cv-portfolio/_layout/js/prettyphoto/jquery.prettyPhoto.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.tip').tipsy({gravity:'e'});
            $("a[rel^='prettyPhoto']").prettyPhoto({theme:'light_square',hideflash:false,wmode:'opaque',autoplay:true,modal:false})
        });
    </script>
    -->
</head>
<body>
    <div id="wrapper">
        <!-- -->
        <!--<div class="nav-floating">
            <ul>
                <li><a href="#">Personal Detail</a></li>
                <li><a href="#">Professional Profile</a></li>
                <li><a href="#">Work Experience</a></li>
                <li><a href="#">Technical Skills</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Reference</a></li>
            </ul>
        </div>-->
        <!-- -->
        <div id="wrap">
            <!-- HEADER -->
            <div id="header">
                <!-- PERSONAL INFO -->
                <div class="personal-info">
                    <div class="personal-photo">
                        <img ng-src="{{TemplateSrc}}images/imgs/profile_pooh.jpg" alt="" title="" />
                    </div>
                    <h1 class="personal-name">{{PersonalInformation.FirstName}} {{PersonalInformation.LastName}}</h1>
                    <h2>{{PersonalInformation.Occupation}}</h2>
                    <div class="clearfixed"></div>
                </div>
                <!-- PERSONAL INFO END -->
                <!-- NAVIGATION -->
                <div class="nav">
                    <!--<ul>
                        <li><a href="index.html" class="current">Resume</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>-->
                    <div class="nav-social text-right">
                        <a href="#"><img ng-src="{{TemplateSrc}}images/icon/icon_grey_download.png" alt="Download CV" title="" /></a>
                        <a href="javascript:window.print()"><img src="{{TemplateSrc}}images/icon/icon_grey_print.png" alt="Print CV" title="" /></a>
                        <a href="#"><img ng-src="{{TemplateSrc}}images/icon/icon_grey_mail.png" alt="Mail" title="" /></a>
                        <a href="#"><img ng-src="{{TemplateSrc}}images/icon/icon_grey_tw.png" alt="Twitter" title="" /></a>
                        <a href="#"><img ng-src="{{TemplateSrc}}images/icon/icon_grey_fb.png" alt="Facebook" title="" /></a>
                        <a href="#"><img ng-src="{{TemplateSrc}}images/icon/icon_grey_linked.png" alt="Linkedin" title="" /></a>
                    </div>
                </div>
                <!-- NAVIGATION END -->
                <div class="clearfixed"></div>
            </div>
            <!-- HEADER END -->
            <!-- CONTAINER -->
            <div id="container">
                <div class="resume">
                    <!-- RESUME SECTION -->
                    <div class="resume-section">
                        <div class="col-30 pull-left">
                            <h3>Personal Details</h3>
                        </div>
                        <div class="col-70 pull-right personal">
                            <!--<div class="personal-fullname">The Pooh</div>-->
                            <!--<div class="personal-birthday">1st July 1985</div>-->
                            <div class="personal-national">{{PersonalInformation.Nationality}}</div>
                            <div class="personal-add">{{PersonalInformation.Address}}</div>
                            <div class="personal-phone">{{PersonalInformation.PhoneNo}}</div>
                            <div class="personal-email"><a ng-href="mailto:{{PersonalInformation.Email}}">{{PersonalInformation.Email}}</a></div>
                            <div class="personal-web"><a ng-href="{{PersonalInformation.Website}}">{{PersonalInformation.Website}}</a></div>
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->
                    <!-- RESUME SECTION -->
                    <div class="resume-section" ng-hide="PersonalInformation.AboutMe.length==0">
                        <div class="col-30 pull-left">
                            <h3>Professional Profile</h3>
                        </div>
                        <div class="col-70 pull-right">
                            <p>{{PersonalInformation.AboutMe}}</p>
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->
                    <!-- RESUME SECTION -->
                    <div class="resume-section" ng-hide="WorkExps.length==0">
                        <div class="col-30 pull-left">
                            <h3>Work Experiences</h3>
                        </div>
                        <div class="col-70 pull-right">
                            <!-- SECTION CHILD -->
                            <div class="resume-section-child" ng-repeat="work in WorkExps">
                                <h4>{{work.Position}} <span>{{GetRangeTime(work.FromMonth,work.FromYear,work.ToMonth,work.ToYear)}}</span></h4>
                                <h5>{{work.Company}}</h5>
                                <ul class="bullet-01" ng-repeat="line in work.DescLines">
                                    <li>{{line}}</li>
                                </ul>
                            </div>
                            <!-- SECTION CHILD END -->
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->
                    <!-- RESUME SECTION -->
                    <div class="resume-section" ng-hide="Skills.length==0">
                        <div class="col-30 pull-left">
                            <h3>Technical Skills</h3>
                        </div>
                        <div class="col-70 pull-right">
                            <!-- SECTION CHILD -->
                            <div class="resume-section-child">
                                <!--<div class="skill-name">Front-end Design</div>-->
                                <div class="skill-items">
                                    <div class="skill-items-detail" ng-repeat="skill in Skills" ng-init="rate=skill.Score*2">
                                        <div class="skill-rate rate-{{rate}}">{{rate*10}}%</div>
                                        <div class="skill-content">{{skill.Name}}</div>
                                        <div class="clearfixed"></div>
                                    </div>
                                </div>
                                <div class="clearfixed"></div>
                            </div>
                            <!-- SECTION CHILD END -->
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->
                    <!-- RESUME SECTION -->
                    <div class="resume-section" ng-hide="Educations.length==0">
                        <div class="col-30 pull-left">
                            <h3>Education</h3>
                        </div>
                        <div class="col-70 pull-right">
                            <!-- SECTION CHILD -->
                            <div class="resume-section-child" ng-repeat="edu in Educations">
                                <h4>{{edu.University}} <span>{{edu.FromYear}} - {{edu.ToYear}}</span></h4>
                                <h6>{{edu.Degree}}</a></h6>
                                <p>{{edu.Description}}</p>
                            </div>
                            <!-- SECTION CHILD END -->
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->
                    <!-- RESUME SECTION -->
                    <div class="resume-section" ng-hide="References.length==0">
                        <div class="col-30 pull-left">
                            <h3>Reference</h3>
                        </div>
                        <div class="col-70 pull-right">
                            <!-- SECTION CHILD -->
                            <div class="resume-section-child" ng-repeat="ref in References">
                                <h4><i>{{ref.Initial}}</i> {{ref.FirstName}} {{ref.LastName}}<span>{{ref.Email}}</span></h4>
                                <h6>{{ref.Relationship}}</a></h6>
                                <p>{{ref.Phone}}</p>
                            </div>
                            <!-- SECTION CHILD END -->
                        </div>
                        <div class="clearfixed"></div>
                    </div>
                    <!-- RESUME SECTION END -->

                </div>
            </div>
            <!-- CONTAINER END -->
            <!-- FOOTER -->
            <div id="footer">
                <p class="copyright text-right">&copy;2017 The Pooh. All rights reserved.</p>
                <a href="#wrap" class="btn-top"><img ng-src="{{TemplateSrc}}images/icon/icon_000_backtop.png" alt="" title="" /></a>
            </div>
            <!-- FOOTER END -->
        </div>
    </div>
</body>
</html>
